<?php

    //  All configurations can be found in here.
    // Database constants
    define('DB_TYPE', 'mysql');
    define('DB_HOST', 'localhost');
    define('DB_NAME', 'diy');
    define('DB_USER', 'diy');
    define('DB_PASS', '');


    // Paths. Make sure you put a trailing slash(/) infront of all your paths!!!
    define('BASE_URL', 'http://localhost:8080/diy/');
    define('LIBS', 'libs/');


    // Hash. Constants that control security issues.
    /* Make sure you don't change this key whilst in production.
     * To change it in development, comment it out and create a new replica.
     * Make sure you undo this action before deploying it or pushing it.
     *
     * example:
     *     define('HASH_PASSWORD_KEY', 'f686505c2f813f91e7fe871fdc127ece');
     *
     * It is recommended that you make these constants as descriptive as possible.
     */
    define('HASH_PASSWORD_KEY', 'f686505c2f813f91e7fe871fdc127ece');