<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>D</b>IY</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>DIY</b> Admin</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#">
                        <!-- The user image in the navbar-->
                        <img src="{{ base_url }}public/static/vendor/adminlte-bower/dist/img/avatar.png" class="user-image" alt="">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{ user.UserName }}</span>
                    </a>
                </li>

                <li>
                    <a href="{{ base_url }}admin/signout">
                        <i class="fa fa-sign-out"></i>
                        <span class="hidden-xs">Logout</span>
                    </a>
                </li>

                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>